.login-container {
  width: 300px;
  margin: 100px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.login-container input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

.login-container button {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-container p {
  margin-top: 10px;
}


/* card css */
/* styles.css or any appropriate file */
.card {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  text-align: center;
}

.card img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}
